.menu-food-container {
}

.menu-sub-category-container {
    padding: 10px;
    border-bottom: 1px solid black;
}

.menu-sub-category-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.menu-food {
    border: 1px solid #e47373;
    border-radius: 4px;
    background-color: #e47373;
    padding: 5px;
    cursor: pointer;
    position: relative;
    min-width: 100px;
    color: #FFFFFF;
    text-transform: capitalize;
}

div.name-icon {
    display: flex;
    gap : 10px;
}

.menu-food div.edit-icon:hover {
    color: blueviolet;
}

.message-reorder {
    color: #c55202;
}

i.fa-edit {
    color: #ffd0d0;
}