<%- include('../partials/header'); %>
    <section class="principal">

        <article class="black-section" id="div-login">
            <h2>Siwabar Dashboard</h2>

            <ol>
                <li>
                    <a href="/menu-food">Menú</a>
                </li>
            </ol>

        </article>
    </section>
    </div>
<%- include('../partials/footer'); %>