<div class="menu-secondary">
    <a class="menu-item" aria-current="page" href="/menu-food">Menú</a>

    <a class="menu-item" aria-current="page" href="/menu-food/new">Nuevo</a>
      
    <a class="menu-item" href="/menu-food/">Ver Menu</a>
</div>